---

---

<div
class="flex flex-col hidden w-full bg-[#051923] menu-toogle text-white px-4 py-2 translate-y-[110%] transition ease-in-out duration-1000 text-xs"
>
  <span class="w-full h-[2px] bg-white mb-2"></span>
  <div class="flex flex-col gap-0 text-sm">
    <slot />
  </div>
  <span class="w-full h-[2px] bg-white mt-2"></span>
</div>
