---

---

<div class="w-full flex flex-col justify-center items-center p-4 text-primary">
  <h3 class="self-start w-full text-2xl font-bold mb-4">Hubungi Kami</h3>
  <p class="self-start w-full text-justify">Apabila terdapat masukkan baik berupa saran, kritik, maupun pertanyaan, dapat disampaikan melalui formulir berikut ini. Masukkan dari Anda sangat kami harapkan, terima kasih!</p>

  <div class="w-full flex flex-col justify-center items-center mt-4 gap-2 text-sm">
    <div class="w-full flex flex-col p-2 border-[2px] border-primary rounded-md gap-1">
      <label for="nama" class="font-bold hidden" id="label-nama">Nama</label>
      <input type="text" class="outline-none" id="nama" placeholder="Nama">
    </div>
    <div class="w-full flex flex-col p-2 border-[2px] border-primary rounded-md gap-1">
      <label for="email" class="font-bold hidden" id="label-email">Email</label>
      <input type="email" class="outline-none" id="email" placeholder="Email">
    </div>
    <div class="w-full flex flex-col p-2 border-[2px] border-primary rounded-md gap-1">
      <label for="saran" class="font-bold hidden" id="label-saran">Masukkan (Kritik, Saran, atau Pertanyaan)</label>
      <textarea class="outline-none h-36" id="saran" placeholder="Masukkan (Kritik, Saran, atau Pertanyaan)" />
    </div>
    <button class="w-full p-1 bg-primary text-white rounded-sm font-bold" id="kirim">Kirim</button>
  </div>
</div>


<script src="/src/libs/contact-us.js"></script>