---

---

<div class="w-full flex flex-col justify-center items-center p-4 text-primary">
  <h3 class="self-start w-full text-2xl font-bold mb-4">Galeri Foto</h3>
  <p class="self-start w-full text-justify mb-4">
    Berisi dokumentasi berupa foto-foto kegiatan saat menjalankan program UNNES
    LANTIP 4.
  </p>
  <div class="grid grid-col-1 md:grid-cols-3 gap-1">
    <div
      class="border-[3px] border-primary group flex flex-col justify-center items-center relative overflow-hidden"
    >
      <img
        src="/images/gallery/1.jpg"
        class="w-full group-hover:brightness-[30%] aspect-video group-hover:scale-110"
        alt=""
      />
      <p
        class="absolute hidden text-white p-1 group-hover:block text-xs font-semibold text-center"
      >
        Pelepasan Mahasiswa UNNES LANTIP 4 - SMAN 9 SEMARANG
      </p>
    </div>
    <div
      class="border-[3px] border-primary group flex flex-col justify-center items-center relative overflow-hidden"
    >
      <img
        src="/images/gallery/2.jpg"
        class="w-full group-hover:brightness-[30%] aspect-video group-hover:scale-110"
        alt=""
      />
      <p
        class="absolute hidden text-white p-1 group-hover:block text-xs font-semibold text-center"
      >
        Penerjunan Mahasiswa UNNES LANTIP 4 - SMAN 9 SEMARANG
      </p>
    </div>
    <div
      class="border-[3px] border-primary group flex flex-col justify-center items-center relative overflow-hidden"
    >
      <img
        src="/images/gallery/3.jpg"
        class="w-full group-hover:brightness-[30%] aspect-video group-hover:scale-110"
        alt=""
      />
      <p
        class="absolute hidden text-white p-1 group-hover:block text-xs font-semibold text-center"
      >
        Foto Bersama Mahasiswa PPG UIN Walisongo
      </p>
    </div>
    <div
      class="border-[3px] border-primary group flex flex-col justify-center items-center relative overflow-hidden"
    >
      <img
        src="/images/gallery/4.jpg"
        class="w-full group-hover:brightness-[30%] aspect-video group-hover:scale-110"
        alt=""
      />
      <p
        class="absolute hidden text-white p-1 group-hover:block text-xs font-semibold text-center"
      >
        Wawancara Waka Sarpras untuk Memperoleh Data Observasi Sekolah
      </p>
    </div>
    <div
      class="border-[3px] border-primary group flex flex-col justify-center items-center relative overflow-hidden"
    >
      <img
        src="/images/gallery/5.jpg"
        class="w-full group-hover:brightness-[30%] aspect-video group-hover:scale-110"
        alt=""
      />
      <p
        class="absolute hidden text-white p-1 group-hover:block text-xs font-semibold text-center"
      >
        Memakai Baju Adat Setiap Hari Kamis
      </p>
    </div>
    <div
      class="border-[3px] border-primary group flex flex-col justify-center items-center relative overflow-hidden"
    >
      <img
        src="/images/gallery/6.jpg"
        class="w-full group-hover:brightness-[30%] aspect-video group-hover:scale-110"
        alt=""
      />
      <p
        class="absolute hidden text-white p-1 group-hover:block text-xs font-semibold text-center"
      >
        Peringatan Maulid Nabi Muhammad SAW di SMAN 9 Semarang
      </p>
    </div>
  </div>
</div>
