---

---

<div class="flex flex-col justify-center items-center p-4 text-primary w-full">
  <h1 class="self-start w-full text-2xl font-bold mb-4">Prakata</h1>
  <p class="w-full text-justify indent-10">
    Dengan penuh rasa syukur, kami panjatkan puji dan syukur ke hadirat Tuhan Yang Maha Esa atas terselesaikannya dan diluncurkannya website UNNES LANTIP 4 - SMAN 9 SEMARANG. Ini adalah langkah penting yang telah kami rencanakan dan persiapkan dengan penuh komitmen dan kerja keras. Kami bersyukur kepada seluruh tim yang telah berkontribusi dalam setiap aspek pengembangan ini, serta kepada semua pihak yang telah memberikan dukungan moral maupun material. Dengan segala keterbatasan, kami terus berusaha memberikan yang terbaik. Peluncuran website ini adalah hasil dari kolaborasi dan kerja keras yang tiada henti. Semoga keberhasilan peluncuran ini menjadi awal dari kesuksesan yang lebih besar lagi ke depannya.
  </p>
  <p class="w-full text-justify indent-10">
    Website ini kami luncurkan dengan tujuan sebagai produk, karya, atau luaran dari kegiatan UNNES LANTIP 4. Harapannya website ini dapat memberikan kemudahan akses informasi bagi pengguna. Dengan desain yang user-friendly dan konten yang informatif, kami berharap website ini menjadi sarana komunikasi dan penyebaran informasi yang efektif. Kami juga berkomitmen untuk memberikan pengalaman pengguna yang terbaik. 
  </p>
  <p class="w-full text-justify indent-10">
    Harapan kami ke depannya, semoga website ini dapat menjadi sumber informasi yang bermanfaat bagi semua pengguna. Kami sangat berharap agar platform ini bisa membantu memperluas jangkauan dan membangun hubungan yang lebih erat dengan para pengguna. Tentu saja, kritik dan saran sangat kami nantikan demi penyempurnaan website ini. Kami berkomitmen untuk terus melakukan perbaikan dan inovasi agar platform ini tetap relevan dan selalu up-to-date. Semoga website ini dapat memberikan manfaat nyata bagi siapa pun yang mengaksesnya. Besar harapan kami, peluncuran ini hanya menjadi awal dari pencapaian-pencapaian besar yang akan datang. Terima kasih atas dukungan dan kepercayaan yang telah diberikan, kami akan terus berupaya memberikan yang terbaik.
  </p>
  <p class="self-end mt-10">
    Semarang, 24 September 2024
  </p>
  <p class="self-end mt-4">
    Tim Developer Website
  </p>
  <p class="self-end mt-20">
    Tim UNNES LANTIP 4 - SMAN 9 Semarang
  </p>
</div>