---

---

<footer class="flex flex-col justify-center items-center w-full bg-primary text-white p-2 mt-10">
  <p class="text-center">© Copyright 2024 - UNNES LANTIP 4 SMAN 9 Semarang</p>
  <p class="text-center">Created By: <a href="http://instagram.com/rizzz.dev" class="hover:font-bold hover:underline">Rizzz.Dev</a></p>
</footer>