---
import AboutUsCard from "./partials/AboutUsCard.astro";
---

<main
  class="w-full flex flex-col justify-center items-center text-primary p-4"
  id="konten"
>
  <h3 class="self-start w-full text-2xl font-bold mb-4">Tentang Kami</h3>
  <p class="self-start w-full text-justify mb-4">
    Kami adalah mahasiswa Universitas Negeri Semarang yang sedang mengikuti
    program PLP UNNES LANTIP 4. Kami mendapatkan mitra yaitu SMAN 9 Semarang.
    Kami berasal dari berbagai program studi dan fakultas yang ada di
    Universitas Negeri Semarang. Berikut ini adalah beberapa hal tentang kami.
    Arahkan mouse ke foto!
  </p>
  <div class="w-full grid grid-cols-1 md:grid-cols-4 gap-1">
    <AboutUsCard
      img="images/about-us/maul.jpg"
      nama="Rizqon Maulana"
      jabatan="Koordinator Mahasiswa"
      prodi="Pendidikan Fisika"
      fakultas="Fakultas Matematika dan Ilmu Pengetahuan Alam"
      instagram="winter.rizzz_"
    />
    <AboutUsCard
      img="images/about-us/ajeng.jpg"
      nama="Ajeng Anditya Putri Nugroho"
      jabatan="Wakil Koordinator Mahasiswa"
      prodi="Pendidikan Bahasa Inggris"
      fakultas="Fakultas Bahasa dan Seni"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/fatimah.jpg"
      nama="Siti Fatimah"
      jabatan="Sekretaris"
      prodi="Pendidikan Ekonomi (Pendidikan Akuntansi)"
      fakultas="Fakultas Ekonomika dan Bisnis"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/shella.jpg"
      nama="Shella Safitri"
      jabatan="Sekretaris"
      prodi="Pendidikan Ekonomi (Pendidikan Akuntansi)"
      fakultas="Fakultas Ekonomika dan Bisnis"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/rizkita.jpg"
      nama="Rizkita Nuraqilah Jasmine"
      jabatan="Sekretaris"
      prodi="Pendidikan Sosiologi dan Antropologi"
      fakultas="Fakultas Ilmu Sosial dan Ilmu Politik"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/dhea.jpg"
      nama="Dhea Nining Rahmawati"
      jabatan="Bendahara"
      prodi="Pendidikan Seni, Drama, Tari, dan Musik"
      fakultas="Fakultas Bahasa dan Seni"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/hani.jpg"
      nama="Hani Yashinta Natasya Putri"
      jabatan="Bendahara"
      prodi="Pendidikan Ekonomi (Pendidikan Akuntansi)"
      fakultas="Fakultas Ekonomika dan Bisnis"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/niswa.jpg"
      nama="Niswatul Maghfiroh"
      jabatan="Bendahara"
      prodi="Pendidikan Ekonomi (Pendidikan Akuntansi)"
      fakultas="Fakultas Ekonomika dan Bisnis"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/cicil.jpg"
      nama="Cicilia Mundi Vergina"
      jabatan="Sie Acara"
      prodi="Pendidikan Kesejahteraan Keluarga"
      fakultas="Fakultas Teknik"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/najmy.jpg"
      nama="Najmy Aulia Izzany"
      jabatan="Sie Acara"
      prodi="Pendidikan Kesejahteraan Keluarga"
      fakultas="Fakultas Teknik"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/arini.jpg"
      nama="Robby Ariniyal Mafatihal Khozainil Jannah"
      jabatan="Sie Acara"
      prodi="Pendidikan Fisika"
      fakultas="Fakultas Matematika dan Ilmu Pengetahuan Alam"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/sukma.jpg"
      nama="Sukma Nurfitri"
      jabatan="Sie Acara"
      prodi="Pendidikan Biologi"
      fakultas="Fakultas Matematika dan Ilmu Pengetahuan Alam"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/dewi.jpg"
      nama="Dewi Ajeng Hapsari"
      jabatan="Sie Humas"
      prodi="Pendidikan Biologi"
      fakultas="Fakultas Matematika dan Ilmu Pengetahuan Alam"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/dina.jpg"
      nama="Dina Ayu Sabila"
      jabatan="Sie Humas"
      prodi="Pendidikan Seni, Drama, Tari, dan Musik"
      fakultas="Fakultas Bahasa dan Seni"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/novia.jpg"
      nama="Novia Ayu Aulia"
      jabatan="Sie Humas"
      prodi="Pendidikan Seni, Drama, Tari, dan Musik"
      fakultas="Fakultas Bahasa dan Seni"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/vava.jpg"
      nama="Eva Muninggar"
      jabatan="Sie Humas"
      prodi="Pendidikan Bahasa Inggris"
      fakultas="Fakultas Bahasa dan Seni"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/alya.jpg"
      nama="Alya Izza Irsalina"
      jabatan="Sie Perkap"
      prodi="Pendidikan Sosiologi dan Antropologi"
      fakultas="Fakultas Ilmu Sosial dan Ilmu Politik"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/naufal.jpg"
      nama="Naufal Hafiz Ikhsan"
      jabatan="Sie Perkap"
      prodi="Pendidikan Sosiologi dan Antropologi"
      fakultas="Fakultas Ilmu Sosial dan Ilmu Politik"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/otniel.jpg"
      nama="Otniel Linuwih Agung Maulana"
      jabatan="Sie Perkap"
      prodi="Pendidikan Sosiologi dan Antropologi"
      fakultas="Fakultas Ilmu Sosial dan Ilmu Politik"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/salma.jpg"
      nama="Salma Tiyas Anggraini"
      jabatan="Sie Perkap"
      prodi="Pendidikan Ilmu Pengetahuan Sosial"
      fakultas="Fakultas Ilmu Sosial dan Ilmu Politik"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/alvi.jpg"
      nama="Alvi Sakinah Hernanda"
      jabatan="Sie Publikasi dan Dokumentasi"
      prodi="Pendidikan Jasmani, Kesehatan, dan Rekreasi"
      fakultas="Fakultas Ilmu Keolahragaan"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/alam.jpg"
      nama="Ghafar Cahya Alam"
      jabatan="Sie Publikasi dan Dokumentasi"
      prodi="Pendidikan Jasmani, Kesehatan, dan Rekreasi"
      fakultas="Fakultas Ilmu Keolahragaan"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/totti.jpg"
      nama="Rasendriya Totti Mahardika"
      jabatan="Sie Publikasi dan Dokumentasi"
      prodi="Pendidikan Ilmu Pengetahuan Sosial"
      fakultas="Fakultas Ilmu Sosial dan Ilmu Politik"
      instagram="blablabla"
    />
    <AboutUsCard
      img="images/about-us/zulia.jpg"
      nama="Zulia Albertino"
      jabatan="Sie Publikasi dan Dokumentasi"
      prodi="Pendidikan Seni, Drama, Tari, dan Musik"
      fakultas="Fakultas Bahasa dan Seni"
      instagram="blablabla"
    />
  </div>
</main>
